In [16]:
#####   RUN THIS CELL FIRST!   #####
##### IMPORTS ALL REQUIREMENTS #####
#####   & INCLUDES CONSTANTS   #####
import os
import pandas as pd
import numpy as np
from pathlib import Path
from scipy.stats import pearsonr
pd.set_option('display.max_columns', None)

# Data Analysis Notebook

## Introduction

write stuff here on what is being done here

## Todo

1. Create table on mean, std, and other metrics for each demographics question.

2. Create a breakdown of overall performance on how people performed on the task.

3. Do an analysis on how different categories (poem, article, etc.) affected performance.

4. Do an analysis of how people performed based on prior knowledge

### Part 1: Data loading

In this section, we are loading the data and parsing it so that we can use it in the data analysis section. We are getting rid of all the unnecessary metadata that qualtrics includes for each response

In [17]:
##### Helper Functions #####
def parse_passage_response(x: str) -> int:
    parse_dict = {
        'Human Written': 0,
        'AI Generated': 1
    }
    
    return parse_dict.get(x, 0)

def parse_sf1_response(x: str) -> int:
    parse_dict = {
        '0': 1,
        '1': 2,
        '2': 3,
        '3': 4,
        '4+': 5,
    }
    
    return parse_dict.get(x, 1)

def parse_sf2_response(x: str) -> int:
    parse_dict = {
        'Rarely or never': 1,
        'A few times a month': 2,
        'Once a week': 3,
        'Several times a week': 4,
        'Daily': 5,
    }
    
    return parse_dict.get(x, 1)

def parse_edu_response(x: str) -> int:
    parse_dict = {
        'High school diploma or GED': 1,
        'Some college, but no degree': 2,
        'Associate Degree': 3,
        'Bachelor\'s Degree': 4,
        'Master\'s Degree or higher education': 5,
        'Other (Please fill in)': 6,
        'Prefer not to say': 0
    }
    
    return parse_dict.get(x, 0)

def parse_ta_response(x: str) -> int:
    if x == 'No':
        return 0
    return 1

In [18]:
# Load df
data_path = Path('./data/')
tsv_files = os.listdir(data_path)

print(tsv_files)

dfs = []
starting_value = 0
for tsv_file in tsv_files:
    print(tsv_file)
    new_df = pd.read_csv(data_path/tsv_file, sep='\t', encoding='UTF-16', quoting=3, skiprows=[1,2])
    new_df.index = np.arange(starting_value, starting_value+len(new_df))
    starting_value += len(new_df)
    dfs.append(new_df)

df = pd.concat(dfs)

# Removes extra metadata from dataframe
columns_to_keep = ["Duration (in seconds)", "Finished", "RecordedDate", "ResponseId", "ID", "Consent", "SF1_1", "SF1_2", "SF1_3", "SF2_1", "SF2_2", "SF2_3", "SF2_4", "SF2_5", "SF2_6", "SF2_7", "Age", "Education", "Education_7_TEXT", "Major", "TA Exp", "TA Exp_1_TEXT", "HU-S3", "AI-S1", "HU-P2", "AI-P1", "HU-N2", "AI-N1", "HU-W2", "AI-W3", "Strategy", "Patterns"]
df = df[columns_to_keep].reset_index(drop=True) 

# Keep finished responses
df = df[(pd.notna(df['ID'])) | (df['Consent']=='Yes')]
df = df[df['Finished']==True]

# Columns for reference
sf1_cols = [x for x in df.columns if 'SF1' in x]
sf2_cols = [x for x in df.columns if 'SF2' in x]
passage_cols = [x for x in df.columns if x[:2] in ('AI', 'HU')]
true_answers = [0 if x[:2] == 'HU' else 1 for x in passage_cols]

# Parsing responses
df[sf1_cols] = df[sf1_cols].applymap(parse_sf1_response)
df[sf2_cols] = df[sf2_cols].applymap(parse_sf2_response)
df[passage_cols] = df[passage_cols].applymap(parse_passage_response)
df['Education'] = df['Education'].map(parse_edu_response)
df['TA Exp'] = df['TA Exp'].map(parse_ta_response)

df

['Group 6 Questionnaire (Broad)_November 21, 2023_10.30.tsv', 'Group 6 Questionnaire (Class)_November 21, 2023_10.31.tsv']
Group 6 Questionnaire (Broad)_November 21, 2023_10.30.tsv
Group 6 Questionnaire (Class)_November 21, 2023_10.31.tsv

C:\Users\willi\AppData\Local\Temp\ipykernel_8724\1872190869.py:33: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[sf1_cols] = df[sf1_cols].applymap(parse_sf1_response)
C:\Users\willi\AppData\Local\Temp\ipykernel_8724\1872190869.py:34: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[sf2_cols] = df[sf2_cols].applymap(parse_sf2_response)
C:\Users\willi\AppData\Local\Temp\ipykernel_8724\1872190869.py:35: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[passage_cols] = df[passage_cols].applymap(parse_passage_response)

,Duration (in seconds),Finished,RecordedDate,ResponseId,ID,Consent,SF1_1,SF1_2,SF1_3,SF2_1,SF2_2,SF2_3,SF2_4,SF2_5,SF2_6,SF2_7,Age,Education,Education_7_TEXT,Major,TA Exp,TA Exp_1_TEXT,HU-S3,AI-S1,HU-P2,AI-P1,HU-N2,AI-N1,HU-W2,AI-W3,Strategy,Patterns
0,451.0,True,2023-11-13 19:28:54,R_3h0H4nneVVU8gyp,NaN,Yes,3,1,5,2,3,5,1,3,1,4,20.0,2,NaN,Computer Science,0,NaN,0,0,0,1,1,1,1,1,AI Generated text has a cadence to it that's v...,Human text reads like it's describing a scene ...
1,396.0,True,2023-11-13 19:30:57,R_1ClQwZC5Sjv9rSB,NaN,Yes,1,1,1,1,1,2,1,2,2,2,19.0,1,NaN,NaN,0,NaN,0,1,0,1,1,0,1,1,I tried to look for specific patterns in writi...,"In my opinion, it just felt more life-like and..."
2,411.0,True,2023-11-13 19:50:04,R_1JCRIPGTmHEbDPu,NaN,Yes,1,1,4,2,1,1,1,2,2,2,22.0,2,NaN,Creative Writing,0,NaN,0,0,1,0,1,0,0,1,I mostly just looked for lines that felt wrong...,"""The AI, in my opinion, used more details. How..."
3,445.0,True,2023-11-13 19:50:48,R_2D5IQXnVn1RqoF7,NaN,Yes,4,1,4,3,3,1,3,4,4,1,21.0,2,NaN,Robotics Engineering,1,Program Aide Summer camp,0,1,0,1,0,1,0,1,If it cussed then it was a human because I can...,I think the ones i marked AI sounded too formal
4,1111.0,True,2023-11-13 20:06:54,R_VKdXjaegc3N4i6R,NaN,Yes,3,1,5,2,2,2,2,3,1,1,21.0,4,NaN,Computer Science,1,"CS, Head TA",0,0,0,0,0,0,0,0,I looked for tone and mistakes. I feel like sm...,It felt like most of these were human generate...
5,348.0,True,2023-11-13 20:18:24,R_1ZAXPOXFRpVcmT7,NaN,Yes,1,1,1,1,1,3,1,1,1,1,23.0,4,NaN,Business Administration,0,NaN,0,1,0,1,0,0,1,1,Forced formality and style,Forced formality and a lack of unique style fe...
6,186.0,True,2023-11-13 21:09:42,R_28V3ketyqTfKzNp,NaN,Yes,2,1,5,2,5,3,3,2,1,1,29.0,5,NaN,"""HCDE """,0,NaN,0,1,1,1,1,0,1,1,NaN,NaN
8,418.0,True,2023-11-14 00:16:52,R_3eesWl2qJDirvqP,NaN,Yes,3,1,5,1,2,3,1,4,1,2,23.0,1,NaN,NaN,0,NaN,0,1,1,0,0,0,1,0,NaN,NaN
9,599.0,True,2023-11-14 00:18:34,R_3k85Klo00SV4cW9,NaN,Yes,1,1,5,4,5,4,2,3,3,1,31.0,4,NaN,"""Computer Science """,0,NaN,0,1,0,1,1,0,0,1,"""Formatting, and average sentence length. """,NaN
10,617.0,True,2023-11-14 09:55:26,R_2to22jnsqQmcUwj,NaN,Yes,1,1,2,1,2,5,2,1,2,2,27.0,5,NaN,Engineering,0,NaN,0,1,0,0,0,1,0,0,I look for cohesiveness and deeper meaning in ...,I assumed the one text with confusing word rep...
11,329.0,True,2023-11-15 13:27:11,R_21d3pRFIYkuo6iz,NaN,Yes,5,1,2,4,2,3,1,2,1,1,26.0,4,NaN,"""Information Security """,0,NaN,1,0,1,0,1,1,0,0,NaN,NaN
12,629.0,True,2023-11-15 15:26:09,R_3hDOdms3zbTUrBI,NaN,Yes,3,1,5,2,2,2,2,2,1,3,22.0,2,NaN,"""Finance/ Int’l Business """,0,NaN,0,1,1,0,1,1,0,1,The words used and the number of commas,NaN
13,509.0,True,2023-11-15 15:36:27,R_31nFcAKVwjKjvTy,NaN,Yes,1,1,4,1,1,4,2,1,2,1,21.0,2,NaN,"""Psychology """,0,NaN,0,0,0,0,0,1,0,1,"""Repetition or excessive/unnecessary use of ad...",No
14,531.0,True,2023-11-15 15:38:21,R_3gfLwlMXYN8Crux,NaN,Yes,1,1,1,1,1,1,1,2,1,1,21.0,3,NaN,Computer Engineering,0,NaN,0,0,1,1,0,0,1,1,I tried to see if the thoughts in the text wer...,The ones I flagged as AI I noticed a lot more ...
15,688.0,True,2023-11-15 15:39:41,R_25WyGfZkykoYSGE,NaN,Yes,1,1,5,1,4,1,1,1,1,1,21.0,4,NaN,Electrical Engineering,0,NaN,0,1,1,0,0,1,1,1,I looked for patterns of writing that I've see...,"As I said before, I think AI tends to give 3 a..."
16,192.0,True,2023-11-15 15:47:26,R_w6NkrbIP9SeqQj7,NaN,Yes,1,1,4,1,2,1,1,1,1,1,22.0,1,NaN,NaN,0,NaN,1,1,0,0,1,0,1,1,Not sure - went with my gut,"""I typically classified more long-winded respo..."
17,493.0,True,2023-11-15 22:09:43,R_cHneV1IqRJeQUIp,NaN,Yes,5,1,5,3,2,2,2,2,2,2,21.0,3,NaN,Economics,0,NaN,1,1,0,0,0,1,0,1,if it had emotion,"""adjectives """
18,298.0,True,2023-11-16 20:31:39,R_3hgXcCyKhWvfiUh,NaN,Yes,2,1,1,3,3,1,3,3,3,3,21.0,2,NaN,Physics,0,NaN,0,0,1,1,0,1,1,1,"""Close my eyes. Pick an answer. God will never...",NaN
20,470.0,True,2023-11-16 20:34:36,R_3PRCOgunuRKMP1r,NaN,Yes,1,1,5,4,3,1,1,3,1,3,22.0,3,NaN,Cybersecurity,1,VBS Assistant,0,0,1,1,1,0,1,1,"It was very difficult to tell, but I compared ...","""Not that I could tell. """
21,382.0,True,2023-11-16 20:43:34,R_25tKBx6vCC7dQSR,NaN,Yes,2,1,3,1,1,2,2,4,5,2,19.0,2,NaN,Psychology,0,NaN,0,1,1,0,1,0,1,1,"""Seeing repeating names such as """"The seeker""""...",See example about the seeker.
23,606.0,True,2023-11-19 20:00:39,R_1K8dT3mLGlsrnF8,NaN,Yes,1,1,1,1,1,1,1,1,5,1,21.0,2,NaN,Industrial Engineering,1,"Yes, TA for CS",0,0,1,0,1,1,1,0,If it didn’t sound natural or did sound clunky...,"In the description of global warming, it repea..."
25,765.0,True,2023-11-10 10:51:30,R_3HRGzymG3R6uI9Z,10.0,NaN,4,2,1,1,1,4,5,1,2,1,34.0,5,NaN,Psychology,1,"General Psychology, Research Methods, Statisti...",0,1,0,1,0,0,1,1,I attempted to look for seemingly unhuman thin...,"there were a couple repeats of words e.g., a r..."
26,460.0,True,2023-11-13 15:49:52,R_eV6HcVHIoX8dwWZ,29.0,NaN,4,1,5,4,4,2,3,4,5,1,22.0,1,NaN,NaN,0,NaN,0,0,0,0,1,1,0,1,I have no clue. I mainly chose which one is hu...,"For the poem, I think the AI tried hard to rhy..."
27,194.0,True,2023-11-16 15:26:58,R_1hSSuqJMivPmveD,53.0,NaN,3,2,3,1,2,2,2,2,2,2,22.0,4,NaN,Computational Media,1,TA environmental science,0,0,0,1,0,1,0,1,"""If it was cheesy and seemed automated I would...",Human written uses more complex words and stat...
28,190.0,True,2023-11-16 15:27:45,R_3NDHU7PmY7DAqkA,18.0,NaN,4,4,5,5,5,5,5,5,5,2,21.0,2,NaN,computer science,1,yes. 2110,1,0,0,1,1,0,0,1,"""random tones """,no
29,156.0,True,2023-11-16 15:29:50,R_3oz20nI3fDvLVZ8,143.0,NaN,3,3,3,1,4,1,1,1,1,1,21.0,2,NaN,Computer Science,0,NaN,0,1,0,1,1,0,1,0,Rereading the passage and analyzing the grammar,"""Repetition of certain words. The grammar. """
30,501.0,True,2023-11-16 15:30:01,R_1MZiOI0UEIUlBqo,70.0,NaN,1,1,5,1,2,2,1,1,1,1,21.0,2,NaN,Computer Science,0,NaN,0,1,0,1,0,1,0,1,"""I looked at how the sentences were made and i...","""I think there was a lot of repetition and com..."
31,251.0,True,2023-11-16 15:33:18,R_sjb4CF21suFTVct,54.0,NaN,1,1,5,1,2,3,2,2,2,1,20.0,1,NaN,NaN,0,NaN,0,0,0,1,1,0,1,1,"Human written flows much better, and is easier...",Yes. AI generated uses certain words like 'spe...
32,265.0,True,2023-11-16 15:33:33,R_AGaa948TmmxIaml,99.0,NaN,5,5,5,1,5,5,2,1,2,1,21.0,2,NaN,CS,0,NaN,0,1,0,0,1,0,1,1,Intuition...I think you can tell when there's ...,"""Fluid rhetoric, style discontinuity """
33,455.0,True,2023-11-16 15:35:26,R_1gMdm7hNwuOP0sv,26.0,NaN,5,5,2,1,1,5,3,4,4,5,22.0,1,NaN,NaN,0,NaN,0,1,0,0,1,0,1,0,Completely intuitive,Human written text usually contains more hapha...
34,189.0,True,2023-11-16 15:35:54,R_2wbMpYibapZPzhP,48.0,NaN,2,2,3,1,1,4,4,2,5,1,22.0,1,NaN,NaN,1,Yes - TA in APPH 1050 class. Taught and helped...,1,1,1,0,0,1,0,0,Normalities in human speech were important to ...,Capitalizaitons of words and the use of hyphens
35,151.0,True,2023-11-16 15:37:22,R_2c71vAJPiFeJII3,903725118.0,NaN,3,4,5,2,3,1,2,2,1,1,20.0,2,NaN,computer Science,0,NaN,1,1,1,0,1,1,0,1,"no strategy, intuition and grammar things",not really
36,192.0,True,2023-11-16 15:37:28,R_1k1Cinz0zcq5Wqh,30.0,NaN,2,4,5,5,5,5,5,5,5,5,20.0,2,NaN,CS,0,NaN,0,1,0,1,0,0,1,0,Vocabulary and tone,Humans are more emotional and make different m...
37,168.0,True,2023-11-16 15:39:28,R_ai30HEDXRdNbiP7,127.0,NaN,2,3,5,4,4,4,3,1,5,1,27.0,2,NaN,Cs,0,NaN,0,1,0,0,0,1,0,1,"Noun, and expression of sentence",AI often uses 'we' and similar structure of wr...
38,253.0,True,2023-11-16 15:39:53,R_1FlwOGYX2qOtccv,73.0,NaN,1,1,1,1,1,2,1,2,1,3,20.0,2,NaN,computer science,0,NaN,0,0,1,0,0,0,0,1,"""structure and vocabulary.",NaN
41,441.0,True,2023-11-16 15:40:15,R_1HjbAgqiG6wFS9c,68.0,NaN,2,2,5,1,3,3,1,3,1,1,22.0,4,NaN,Computer Science,0,NaN,0,1,1,1,0,0,0,1,My strategy is to look for the use of complex ...,AI-generated text often have less to none gram...
42,213.0,True,2023-11-16 15:42:19,R_2YEOsMgVmUQSnrA,26.0,NaN,1,2,1,1,1,1,2,2,2,1,23.0,1,NaN,NaN,0,NaN,0,1,0,1,0,1,1,1,"""It was really hard to tell. I just guessed. ""","""I think AI might ramble on more and less uniq..."
43,282.0,True,2023-11-16 15:42:28,R_2BwYMxjqDdOa9TQ,182.0,NaN,1,2,2,1,1,1,1,2,2,1,24.0,2,NaN,"""Computer science """,0,NaN,1,0,1,1,0,0,1,1,"""Kinda random, but I tried looking for specifi...",NaN
44,201.0,True,2023-11-16 15:44:07,R_qPcuWukrmxHeVuV,92.0,NaN,4,1,5,5,5,4,2,2,2,1,19.0,2,NaN,Computer Science,0,NaN,0,0,0,1,0,0,1,1,Seeing how structured the text was.,I felt that human written text was not as conc...
45,164.0,True,2023-11-16 15:45:22,R_1jZDYkV145dFEhG,45.0,NaN,1,1,5,4,4,2,1,3,1,1,21.0,2,NaN,Computer Science,0,NaN,0,0,0,0,1,0,0,1,Based on how uniform the text was and if there...,AIs typically had normal formats and a lot of ...
46,476.0,True,2023-11-16 15:50:47,R_11YP0V4pz7oqth9,15.0,NaN,1,1,5,1,1,2,1,2,1,1,20.0,4,NaN,Computer Science,0,NaN,0,0,0,0,0,1,0,1,Readability and coherence,NaN
47,60.0,True,2023-11-16 15:59:31,R_1QGDF9HJkRZVQDC,50.0,NaN,3,3,3,2,2,2,2,2,2,2,24.0,4,NaN,Computer science,0,NaN,0,1,0,1,0,0,1,0,NaN,NaN

In [19]:
# Aggregating scores for Source Familiarity
df['SF1_AVG'] = df[sf1_cols].mean(axis=1)
df['SF2_AI_AVG'] = df[sf2_cols[:2]].mean(axis=1)
df['SF2_HU_AVG'] = df[sf2_cols[2:]].mean(axis=1)

# Aggregating scores for passsages
df['ANS_TOTAL'] = (df[passage_cols] == true_answers).sum(axis=1)
df['ANS_STORY'] = (df[passage_cols[0:2]] == true_answers[0:2]).sum(axis=1)
df['ANS_POEM'] = (df[passage_cols[2:4]] == true_answers[2:4]).sum(axis=1)
df['ANS_NEWS'] = (df[passage_cols[4:6]] == true_answers[4:6]).sum(axis=1)
df['ANS_WIKI'] = (df[passage_cols[6:8]] == true_answers[6:8]).sum(axis=1)

# Expressing as percentages
df['ANS_TOTAL (%)'] = (df['ANS_TOTAL'] / 8) * 100
df['ANS_STORY (%)'] = (df['ANS_STORY'] / 8) * 100
df['ANS_POEM (%)'] = (df['ANS_POEM'] / 8) * 100
df['ANS_NEWS (%)'] = (df['ANS_NEWS'] / 8) * 100
df['ANS_WIKI (%)'] = (df['ANS_WIKI'] / 8) * 100

agg_sf_list = [df['SF1_AVG'], df['SF2_AI_AVG'], df['SF2_HU_AVG']]
answer_list = [df['ANS_TOTAL (%)'], df['ANS_STORY (%)'], df['ANS_POEM (%)'], df['ANS_NEWS (%)'], df['ANS_WIKI (%)']]
data_cols = ['SF1_AVG', 'SF2_AI_AVG', 'SF2_HU_AVG', 'TA Exp', 'ANS_TOTAL (%)', 'ANS_STORY (%)', 'ANS_POEM (%)', 'ANS_NEWS (%)', 'ANS_WIKI (%)']

df[data_cols]

,SF1_AVG,SF2_AI_AVG,SF2_HU_AVG,TA Exp,ANS_TOTAL (%),ANS_STORY (%),ANS_POEM (%),ANS_NEWS (%),ANS_WIKI (%)
0,3.000000,2.5,2.8,0,62.5,12.5,25.0,12.5,12.5
1,1.000000,1.0,1.8,0,62.5,25.0,25.0,0.0,12.5
2,2.000000,1.5,1.6,0,37.5,12.5,0.0,0.0,25.0
3,3.000000,3.0,2.6,1,100.0,25.0,25.0,25.0,25.0
4,3.000000,2.0,1.8,1,50.0,12.5,12.5,12.5,12.5
5,1.000000,1.0,1.4,0,75.0,25.0,25.0,12.5,12.5
6,2.666667,3.5,2.0,0,50.0,25.0,12.5,0.0,12.5
8,3.000000,1.5,2.2,0,37.5,25.0,0.0,12.5,0.0
9,2.333333,4.5,2.6,0,75.0,25.0,25.0,0.0,25.0
10,1.333333,1.5,2.4,0,75.0,25.0,12.5,25.0,12.5
11,2.666667,3.0,1.6,0,25.0,0.0,0.0,12.5,12.5
12,3.000000,2.0,2.0,0,62.5,25.0,0.0,12.5,25.0
13,2.000000,1.0,2.0,0,75.0,12.5,12.5,25.0,25.0
14,1.000000,1.0,1.2,0,50.0,12.5,12.5,12.5,12.5
15,2.333333,2.5,1.0,0,62.5,25.0,0.0,25.0,12.5
16,2.000000,1.5,1.0,0,37.5,12.5,12.5,0.0,12.5
17,3.666667,2.5,2.0,0,75.0,12.5,12.5,25.0,25.0
18,1.333333,3.0,2.6,0,62.5,12.5,12.5,25.0,12.5
20,2.333333,3.5,1.8,1,37.5,12.5,12.5,0.0,12.5
21,2.000000,1.0,3.0,0,37.5,25.0,0.0,0.0,12.5
23,1.000000,1.0,1.8,1,25.0,12.5,0.0,12.5,0.0
25,2.333333,1.0,2.6,1,75.0,25.0,25.0,12.5,12.5
26,3.333333,4.0,3.0,0,62.5,12.5,12.5,12.5,25.0
27,2.666667,1.5,2.0,1,87.5,12.5,25.0,25.0,25.0
28,4.333333,5.0,4.4,1,50.0,0.0,25.0,0.0,25.0
29,3.000000,2.5,1.0,0,50.0,25.0,25.0,0.0,0.0
30,2.333333,1.5,1.2,0,100.0,25.0,25.0,25.0,25.0
31,2.333333,1.5,2.0,0,50.0,12.5,25.0,0.0,12.5
32,5.000000,3.0,2.2,0,50.0,25.0,12.5,0.0,12.5
33,4.000000,1.0,4.2,0,37.5,25.0,12.5,0.0,0.0
34,2.333333,1.0,3.2,1,50.0,12.5,0.0,25.0,12.5
35,4.000000,2.5,1.4,0,50.0,12.5,0.0,12.5,25.0
36,3.666667,5.0,5.0,0,62.5,25.0,25.0,12.5,0.0
37,3.333333,4.0,2.8,0,87.5,25.0,12.5,25.0,25.0
38,1.000000,1.0,1.8,0,50.0,12.5,0.0,12.5,25.0
41,3.000000,2.0,1.8,0,75.0,25.0,12.5,12.5,25.0
42,1.333333,1.0,1.6,0,87.5,25.0,25.0,25.0,12.5
43,1.666667,1.0,1.4,0,37.5,0.0,12.5,12.5,12.5
44,3.333333,5.0,2.2,0,62.5,12.5,25.0,12.5,12.5
45,2.333333,4.0,1.6,0,50.0,12.5,12.5,0.0,25.0
46,2.333333,1.0,1.4,0,75.0,12.5,12.5,25.0,25.0
47,3.000000,2.0,2.0,0,62.5,25.0,25.0,12.5,0.0

### Part 2: Descriptive Statistics

In [20]:
for sf_series in agg_sf_list:
    col_name = sf_series.name
    mean = sf_series.mean()
    std = sf_series.std()
    print(f'Column: {col_name}, Mean: {mean:.2f}, Std: {std:.2f}')

for ans_series in answer_list:
    col_name = ans_series.name
    mean = ans_series.mean()
    std = ans_series.std()
    print(f'Column: {col_name}, Mean: {mean:.2f}, Std: {std:.2f}')
# https://stackoverflow.com/questions/25571882/pandas-columns-correlation-with-statistical-significance\
rho = df[data_cols].corr()
pval = df[data_cols].corr(method=lambda x, y: pearsonr(x, y)[1]) - np.eye(*rho.shape)
p = pval.map(lambda x: ''.join(['*' for t in [.05, .01, .001] if x <= t]))
corr_matrix_signifcance = rho.round(2).astype(str) + p



print('\nCorrelation Matrix w/ Stastical Signicance (*=0.05, **=0.01, ***=0.001):')
corr_matrix_signifcance

Column: SF1_AVG, Mean: 2.53, Std: 0.97
Column: SF2_AI_AVG, Mean: 2.25, Std: 1.28
Column: SF2_HU_AVG, Mean: 2.14, Std: 0.88
Column: ANS_TOTAL (%), Mean: 59.23, Std: 18.74
Column: ANS_STORY (%), Mean: 17.56, Std: 7.84
Column: ANS_POEM (%), Mean: 13.99, Std: 9.64
Column: ANS_NEWS (%), Mean: 12.20, Std: 9.76
Column: ANS_WIKI (%), Mean: 15.48, Std: 8.65

Correlation Matrix w/ Stastical Signicance (*=0.05, **=0.01, ***=0.001):

,SF1_AVG,SF2_AI_AVG,SF2_HU_AVG,TA Exp,ANS_TOTAL (%),ANS_STORY (%),ANS_POEM (%),ANS_NEWS (%),ANS_WIKI (%)
SF1_AVG,1.0***,0.55***,0.44**,0.05,0.01,0.04,0.09,-0.16,0.06
SF2_AI_AVG,0.55***,1.0***,0.41**,-0.0,0.06,-0.08,0.24,-0.19,0.15
SF2_HU_AVG,0.44**,0.41**,1.0***,0.21,0.01,0.07,0.18,-0.08,-0.14
TA Exp,0.05,-0.0,0.21,1.0***,0.0,-0.22,0.08,0.09,0.01
ANS_TOTAL (%),0.01,0.06,0.01,0.0,1.0***,0.43**,0.55***,0.62***,0.46**
ANS_STORY (%),0.04,-0.08,0.07,-0.22,0.43**,1.0***,0.2,0.02,-0.23
ANS_POEM (%),0.09,0.24,0.18,0.08,0.55***,0.2,1.0***,-0.04,-0.05
ANS_NEWS (%),-0.16,-0.19,-0.08,0.09,0.62***,0.02,-0.04,1.0***,0.24
ANS_WIKI (%),0.06,0.15,-0.14,0.01,0.46**,-0.23,-0.05,0.24,1.0***